[submodule "src/external/indicators"]
	path = src/external/indicators
	url = https://github.com/p-ranav/indicators.git
[submodule "src/external/EigenRand"]
	path = src/external/EigenRand
	url = https://github.com/bab2min/EigenRand.git
